Appointment Booking Automation.json
{
  "name": "Appointment Booking Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -16
      ],
      "id": "6fffa9bc-4dff-46a4-9510-df9792c37694",
      "name": "Webhook",
      "webhookId": "68d23a96-b6eb-49ba-ad00-6ab8b9369584"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "babarabbaskhokhar3393@gmail.com",
          "mode": "list",
          "cachedResultName": "babarabbaskhokhar3393@gmail.com"
        },
        "additionalFields": {
          "description": "=Name: {{$json.body.name}}  Email: {{$json.body.email}}  Meeting Type: {{$json.body.meeting_type}}",
          "summary": "={{$json.body.meeting_type}} - {{$json.body.name}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -336,
        -16
      ],
      "id": "29388de5-5f77-47a8-9a07-680f57b80164",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "k4xqMGX55tHKwV82",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gonJWXmvqPtheSQbAKJrtP6mdFbnYJ9VbUdvctxn2hQ",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gonJWXmvqPtheSQbAKJrtP6mdFbnYJ9VbUdvctxn2hQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gonJWXmvqPtheSQbAKJrtP6mdFbnYJ9VbUdvctxn2hQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$node[\"Webhook\"].json.body.name}}",
            "Email": "={{$node[\"Webhook\"].json.body.email}}",
            "Date": "={{$node[\"Webhook\"].json.body.date}}",
            "Time": "={{$node[\"Webhook\"].json.body.time}}",
            "Meeting Type": "={{$node[\"Webhook\"].json.body.meeting_type}}",
            "Created At": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Type",
              "displayName": "Meeting Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -16
      ],
      "id": "575227fd-9d45-4052-b81b-ece59ccbc625",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB4hI1IFi02yq4fN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11a57be3-32f6-44ee-a47a-95f0a3103247",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d424743025bec5009babfaef2f79b3c75a37f9945ba27d8e733a678dbe205c12"
  },
  "nodeGroups": [],
  "id": "y2k2znXLdsygQVqE",
  "tags": []
}